/* utils */

.semi-bold {
    font-weight: 600;
}


/* body */

body {
    font-size: 1.25rem;
}


/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-top {
    height: 50px;
}

.header-top img {
    width: 15%;
    height: auto;
}


/* main */


/* first hero */

.hero {
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 125px;
}

.hero img {
    width: 50%;
}

@media screen and (min-width:1200px) {
    .hero .content {
        width: 50%;
    }
}


/* section ps5 */

.ps5 p {
    color: gray;
}

.photo-list h3 {
    display: none;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}

@media screen and (min-width:768px) {
    .photo-list div {
        width: 20%;
        height: auto;
    }
    .photo-list h3 {
        display: block;
    }
}


/* hero 2 */

.hero-mid {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


/* new releases */

.new {
    background-color: rgb(46, 45, 45);
}


/* .new img {
    width: 80%;
    height: auto;
} */

.new h3 {
    text-align: left;
    font-size: 1rem;
    ;
}