/* utils */

.subtitle {
    color: gray;
}

.semi-bold {
    font-weight: 600;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}


/* body */

body {
    font-size: 1.25rem;
}


/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-top {
    height: 50px;
}

.header-top img {
    width: 15%;
    height: auto;
}

header a:hover {
    opacity: 0.5;
}

.hide {
    width: 100vw;
    display: none;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
}

.my-psn {
    cursor: pointer;
}

.my-psn:hover {
    opacity: 0.5;
}

.my-psn:active {
    opacity: 1;
}

.my-psn:active .hide {
    display: flex;
}


/* main */


/* games */

.games .row div {
    transition: transform 1s;
}

.games .row div:hover {
    transform: translateY(-10%);
}


/*  heroes */

.hero {
    height: 70vh;
    background-size: cover;
    background-position: center;
    margin-top: 125px;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
}

#it-takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#it-takes img {
    width: 50%;
}


/* section ps5 */

.photo-list h3 {
    display: none;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.photo-list div {
    opacity: 0.5;
}

.photo-list div:first-child {
    opacity: 1;
}

.photo-list div:hover {
    opacity: 1;
}

.active-b {
    border-bottom: 2px solid blue;
}

@media screen and (min-width:768px) {
    .photo-list div {
        width: 20%;
        height: auto;
    }
    .photo-list h3 {
        display: block;
    }
}


/* new releases */

.new {
    background-color: rgb(46, 45, 45);
}

.new h3 {
    margin-top: 8px;
    text-align: left;
    font-size: 1rem;
    ;
}

.new .row div {
    transition: transform 1s;
}

.new .row div:hover {
    transform: translateY(-5%);
}


/* ps plus */

.ps-plus {
    background-color: rgb(161, 172, 204);
}

.ps-plus .row img {
    width: 50%;
}

.ps-plus .season img {
    width: 100%;
}

.season {
    display: none;
}

@media screen and (min-width:768px) {
    .season {
        display: flex;
    }
}


/* ps now */

.ps-now {
    background-color: rgb(2, 31, 121);
}

.ps-now .row img {
    width: 50%;
}

.ps-now .season img {
    width: 100%;
}

.season {
    display: none;
}

@media screen and (min-width:768px) {
    .season {
        display: flex;
    }
}


/* footer */

footer {
    background-color: #00439C;
}

[alt="f-logo"] {
    width: 100px;
    height: auto;
}

footer li {
    list-style-type: none;
}

footer li a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width:768px) {
    .list {
        display: flex;
    }
}